* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Tamma 2", cursive;
}

body{
   /*background: linear-gradient(0deg, rgba(213,255,235,1) 0%, rgba(218,218,218,1) 100%);*/
    background-color: #e6e6e6;
}

header {
  position: fixed;
  z-index: 500;
  top: 0;
  width: 100%;
  background-color: #e6e6e6;
}
header #logo {
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.31);
  box-shadow: 20px 30px 30px #ffffff;
}
header #img_logo {
  width: 100%;
  margin-left: 20px;
  display: block;
  padding-top: 5px;
  transform: translateX(100%);
  transition: 1s;
}
header #img_logo a {
  display: block;
   
}
header img {
  max-width: 5% ;
}
header a{
    text-decoration: none;
}
header #img_logo .h1{
    display: inline;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-left: 30%;
    color: black;
   
}
header #img_logo .h2{
    
    display: inline;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-left: 30%;
    color: black;
   
}
header #nav {
  width: 100%;
  text-align: right;
  box-shadow: 0 -0.5px 5px;
}
header #nav ul li {
  display: inline;
}
header #nav ul li a {
  color: black;
  margin: 0;
  text-decoration: none;
  padding-right: 20px;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 1.5em;
    
}
header #nav ul .page:hover {
    color: #0036b1;
}
header #nav ul #fb {
  background-image: url("https://img.icons8.com/material-two-tone/32/000000/facebook-new.png");
  margin-left: 15px;
}
header #nav ul #inst {
  background-image: url("https://img.icons8.com/material-two-tone/32/000000/instagram-new.png");
  margin-left: 15px;
}
header #nav ul #twit {
  background-image: url("https://img.icons8.com/plumpy/32/000000/twitter-squared.png");
  margin-left: 15px;
}
header #nav ul #ytb {
  background-image: url("https://img.icons8.com/material-two-tone/32/000000/youtube-play.png");
  margin-left: 15px;
}
header #nav ul .social {
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  padding-left: 50px;
  width: 32px;
  height: 32px;
  transform: translateY(0);
  transition: 0.8s;
  margin-top: 8px;
}
header #nav ul .social:hover {
  transform: translateY(-8px);
  transition: 0.4s;
}
header #nav #search button{
    width: 30%;
}
@media only screen and (max-width: 850px) {
  header #nav .page {
    display: none;
  }
  header #nav ul .social {
    display: none;
    margin-bottom: 10px;
  }
  header #img_logo img {
    max-width: 15%;
    transform: translateX(0);
    transition: 1s;
  }
     
}
@media only screen and (max-width: 850px){
    header #img_logo .h1{ 
        font-size: 1.5em;
        margin-left: 5%;
    }
    header #img_logo .h2{
       font-size: 1em;
        margin-left: 5%; 
    }
}
@media only screen and (max-width: 540px){
    header #img_logo .h1{
        font-size: 0.7em;
    }
    header #img_logo .h2{
        font-size: 0.6em;
    }
}


/*start ham*/


header .ham {
  position: fixed;
  margin: 10px;
  z-index: 100;
  top: 0;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: rgb(36, 36, 36) solid 1px;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(213,255,235,1) 0%, rgba(218,218,218,1) 100%);
  color: black;
}
header .xIcon {
  display: none;
  color: black;
}
header .menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, rgb(67, 164, 177) 0%, rgba(218,218,218,1) 100%);
  transform: translateY(-100%);
  transition: transform 0.5s;
  list-style: none;
  padding-top: 10px;
}
header .showMenu {
  transform: translateY(0);
}
header .menu li {
  padding: 1rem 0;
  text-align: center;
}
header .menuLink {
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  line-height: 0.5em;
}
header .menuLink:hover {
  color: #0036b1;
}
@media only screen and (min-width: 850px) {
  header #hmbr {
    display: none;
  }
}
/*end ham*/






/*primo popup*/


#pirmo_popup{
    width: 100%;
    height: 100%;
    background-color: rgba(131, 131, 131, 0.91);
    position: fixed;
    top:0;
    display: none;
    z-index: 600;
}
#pirmo_popup #campo_uno{
     width: 30%;
     overflow: auto;
     height: auto;
     margin: 5% auto;
     background-color: #e2dede;
     border-radius: 10px;
     box-shadow: 1px 1px 5px #c4c4c4;
}
#pirmo_popup #campo_uno input{
    width: 80%;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 9px 5px #c4c4c4;
    
    
}
#pirmo_popup #campo_uno .btn{
     width: 80%;
    color: white;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: #2963e3
}
#pirmo_popup p{
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px solid #9d9c9c;

}
#pirmo_popup p a {
     text-decoration: none;
    color: #2963e3;
}
#pirmo_popup #crea_account{
     width: 50%;
    color: white;
    display: block;
    margin: 10px auto;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    border:none;
    background-color: #06cc0d
}
#pirmo_popup .paragrafo_ok{
    font-style: italic;
    color:#00ac4f;
    border:none;
}
#pirmo_popup .paragrafo_ko{
    font-style: italic;
    color:#b70000;
    border:none; 
}
.ko{
    background-color: #ea8787;
}
.ok{
    background-color:#53d162;
     
}
@media only screen and (max-width: 1000px){
     #pirmo_popup #campo_uno{
        min-width: 80%;
        
    }
}

/*secondo popup*/


#secondo_popup{
    width: 100%;
    height: 100%;
    background-color: rgba(131, 131, 131, 0);
    position: fixed;
    top:0;
    display: none;
    z-index: 700;
}
#secondo_popup #campo_due{
    width: 30%;
    overflow: auto;
    height: auto;
    margin: 5% auto;
    background-color: #e2dede;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #c4c4c4;
    padding-bottom: 30px;
}
#secondo_popup #campo_due input{
    width: 80%;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 9px 5px #c4c4c4;
}
#secondo_popup #campo_due .btn{
     width: 80%;
    color: white;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 20px;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: #06cc0d;
}
#secondo_popup #campo_due #crea{
    width: 50%;
  font-size: 1em;
}
#secondo_popup p{
    width: 80%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid #9d9c9c;

}
#secondo_popup p a {
     text-decoration: none;
    color: #2963e3;
}
#secondo_popup #yes_no{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
#secondo_popup #yes_no input{
    margin: 0 auto;
    width: 10%;
    display: inline-block;
    position: static;
    box-shadow: none;   
}
#secondo_popup #container_error{
  font-size: large;
  width: 80%;
  border-radius: 5px;
  background-color: #9A1a1a9a;
  display: none;
}
#secondo_popup #container_send{
  font-size: large;
  width: 80%;
  border-radius: 5px;
  background-color: #1a962a9a;
  display:none;
}
#secondo_popup #wrong_password{
  font-size: large;
  border-radius: 5px;
  background-color: #ea8787;
  display:none;
}
#secondo_popup #cover_button{
    width: 30%;
    height: 120px;
    background-color: rgba(96, 74, 58, 0.42);
    
    position:fixed;
    
    z-index: 5;
}
@media only screen and (max-width: 1000px){
     #secondo_popup #campo_due{
        min-width: 80%;
       min-height: 50%;
    }
}


/*gap*/


#gap {
  width: 100%;
 height: 700px;
}
@media only screen and (max-width: 1000px) {
  #gap {
    height: 150px;
      float: none;
       height: 700px;
  }
}


/*slide*/

#slide_contenitore {
    width: 90%;
     margin: 0 auto;
     position: static;
}
#slide_contenitore div{
    width: 90%;
    margin: 0;
    display: none;
    position: absolute;
}
#slide_contenitore div:first-child{
    display: block;
}

 .mostra {
  top:150px;
  box-shadow: 5px 15px 25px 5px #888888;
  border-radius: 5px;
  width: 90%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
     
}
 #img_1 {
  background-image: url(../img/pizza.jpg);

}
 #img_2 {
  background-image: url(https://i.postimg.cc/HL5QJW3B/topimage-classic-hamburger-2019m04-800x534.jpg);
  
}
 #img_3 {
  background-image: url(https://i.postimg.cc/L8vsNc52/ec9998ebb1aa2a4d2d57d250235049bb.jpg);
    
}
 #img_4 {
  background-image: url(https://i.postimg.cc/m2SDFn8T/image-20.jpg);
   
}
 #img_5 {
 background-image: url(https://i.postimg.cc/sfcKHj2S/Screen-Shot-2017-01-13-at-14-41-00-170113-144721.png);
    
}
@media only screen and (max-width: 1000px){
    main .mostra{
        position: static;
        display: block;
        margin-bottom: 20px;
        top:80px;
    }
}



/*campo indirizzo*/

main #wrap{
    
    width: 90%;
    height:auto;
    margin: 20px auto;
    overflow: auto;
    
}



main #indirizzo {
    width: 30%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    height:500px;
    text-align: center;
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
}
main #indirizzo h3 {
   width: 100%;
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: 600;
}
main #address input {
    width: 80%;
    display: block;
    margin: 20px auto;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 9px 5px #c4c4c4; 
}
main #address button {
    width: 80%;
    color: white;
    display: block;
    margin: 10px auto;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: #2963e3;
    transition: 0.5s;
}
main #address button:hover {
  background-color: #0036b1;
    transition: 0.s;
}
main #address input:hover{
   background-color: aliceblue;
}

@media only screen and (max-width: 1000px){  
    main #indirizzo {
        position: static;
        float: none;
       display: block;
        width: 100%;
        margin: 0 auto;
     
    }   
}


/*social*/ 
    
    
    
main #app_contenitore {
  width: 32%;
  height: 500px;
  float: left;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
main #app_contenitore h3 {
  font-size: 2.3em;
  margin-top: 10%
}
main #app_contenitore a{
    padding: 3px;
    margin: 5px;
}
main #app_contenitore a:hover{
     opacity: 0.7;
}
@media only screen and (max-width: 1000px){
    main #app_contenitore{
      position: static;
        float: none;
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
         width: 100%;
        height: auto;
    }
    main .social_p{
        margin-bottom: 50px;
        margin-top: 5%;
    }
}



main #social_us{
    float: right;
    width: 32%;
    height: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
main #social_us a{
    
    border: 1px solid black;
    border-radius: 10%;
    margin: 3%;
}
main #social_us h3{
    font-size:2.3em;
    margin-top: 10% 
}
@media only screen and (max-width: 1000px){
    main #social_us{
        position: static;
        float: none;
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
         width: 100%;
        height: auto;
    }
    main #social_us a{
        margin-top: 10%;
    }
}
@media only screen and (max-width: 500px){
    main #social_us a{
        margin: 1%;
    }
}


main .social_p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}


/* main restaurant*/

#restaurant h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
}
#restaurant h2{
    
}
#restaurant {
    margin-top: 150px; 
}
#restaurant a {
    text-decoration: none;
     color: black;
}
#restaurant .display{
    width:70%;
    margin: 60px auto;
    background-color: aliceblue;
    overflow: auto;
}

#restaurant .img_rest{
    max-width: 50%;
    display: inline-block;
   float: left;
   margin-right: 10px;
}
#restaurant img{
    max-width: 100%;
}

#restaurant .descrptionRest{
    display: inline-block;
      max-width: 100%;
    border:1px solid black
}






@media only screen and (max-width: 1080px){
    #restaurant .display{
       width: 90%;
    }
}
@media only screen and (max-width: 810px){
    #restaurant .descrptionRest{
      max-width: 100%;
      
    }
    #restaurant .img_rest{
        min-width: 100%;
        margin: 0 ;
       
    }
    #restaurant .display{
       width: 60%;
    }

}





/* ristorante_selezionato */

#ristorante_selezionato #foto_ristorante{
   background-image: url(https://i.postimg.cc/HL5QJW3B/topimage-classic-hamburger-2019m04-800x534.jpg);
     box-shadow: 5px 15px 25px 5px #888888;
  border-radius: 5px;
  width: 90%;
  height: 650px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
    
}
#ristorante_selezionato h1{
    margin-top: 150px;
    font-size: 5em;
    text-align: center;
}
#ristorante_selezionato .rest_description {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
#ristorante_selezionato .lista_contenitore{
    width: 70%;
    margin: 0 auto;
}
#ristorante_selezionato .piatto{
    width: 80%;
    overflow: auto;
    background-color: #ffffff;
    margin: 20px auto;
}
#ristorante_selezionato .img_prodotto{
    width:30%;
    float: right;
    padding: 10px 10px 0 10px
}
#ristorante_selezionato img{
   max-width: 100%
       
}
#ristorante_selezionato h3{
    font-size: 1.5em;
    width: auto;
    margin: 0px 20px;
    display: inline-block
    
    
}
#ristorante_selezionato .description{
    width: 50%;
    margin: 0 20px;
    
}
#ristorante_selezionato .prezzo{
    margin-top: 20px;
    margin-left: 20px;
    color: #6767a7;
    font-size: 1.5em;
    display: inline-block;
}
#ristorante_selezionato .add{
    margin-left: 50px;
    padding: 0;
    font-size: 1em;
    border:none;
}
#ristorante_selezionato button{
    margin-left: 50px;
    color:#6d21b4;
    border: none;
    background-color: rgb(255, 255, 255)
}
#ristorante_selezionato button:hover{
    color:#a94cff;
}
#ristorante_selezionato span{
    font-size: 40px
}


@media only screen and (max-width: 1000px){
    #ristorante_selezionato .piatto{
        width: 96%;
    }
    #ristorante_selezionato .lista_contenitore{
        width: 100%
    }
    #ristorante_selezionato .img_prodotto{
    width:40%;
    }
    #ristorante_selezionato .rest_description {
    width: 98%;
    }
}










/*footer*/

footer {
    clear: both;
  margin: 5px 0;
  padding: 20px;
  width: 100%;
  background: linear-gradient(0deg, rgba(213,255,235,1) 0%, rgba(218,218,218,1) 100%);
}
footer #payment_acpt img {
  max-width: 100%;
}
footer #payment_acpt {
  width: 100%;
  text-align: center;
    transform: translateY(0);
    transition: 0.8s;
}
footer #find_us {
  
  margin: 0 auto;
  text-align: center;
}
.fa:hover {
  opacity: 0.8;
 transform: translateY(-8px);
  transition: 0.4s;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    transition: 0.4s;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}



